# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.pyc

# Virtual environment
.venv/
env/
venv/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
